<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.406/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.406/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.504/js/kendo.all.min.js"></script>
    <title>A Safta's Love - Dedicated to the Memory of Rivka Serwatien (Safta Brynin)</title>

    <script>
        // "api" ref - https://developers.google.com/sheets/api/v3/data
        // app.module.js
        (function () {
            "use strict";

            angular.module("app", []);
        })();

        // app.module.private.js
        (function () {
            "use strict";
            angular
                .module("app")
                .value("googleSheetKey", "1aoC0YoVwaQBgpaXexCGKccQttTtn75BenWuVZsoimf8")
                .value("kendo", kendo);
        })();

        // loading.directive.js
        (function () {
            "use strict";

            angular
                .module("app")
                .directive("sfLoading", sfLoading);

            sfLoading.$inject = ["kendo"];
            function sfLoading(kendo) {
                var directive = {
                    link: link,
                    restrict: "A"
                };

                function link(scope, element, attrs) {
                    if (element.css("position") === "static") element.css("position", "relative");

                    scope.$watch(attrs.sfLoading, function (value) {
                        kendo.ui.progress(element, value);
                    });
                }

                return directive;
            }
        })();



        // library.controller.js
        (function () {
            "use strict";

            angular
                .module("app")
                .controller("LibraryController", LibraryController);

            LibraryController.$inject = ["googleSheetKey", "$http", "$rootScope"];
            function LibraryController(googleSheetKey, $http, $rootScope) {
                var vm = this;

                vm.clearFilter = clearFilter;
                vm.getStructuredQuery = getStructuredQuery;
                vm.filter = filter;
                vm.parseColumns = parseColumns;
                vm.parseRows = parseRows;

                init();

                function clearFilter() {
                    for (var ixColumn = 0; ixColumn < vm.columns.length; ixColumn++) {
                        delete vm.columns[ixColumn].filter;
                    }

                    vm.filter();
                }

                function getStructuredQuery() {
                    var sq = "";

                    for (var ixColumn = 0; ixColumn < vm.columns.length; ixColumn++) {
                        if (vm.columns[ixColumn].filter) {
                            if (sq.length) sq += " and ";
                            sq += vm.columns[ixColumn].name + "=" + vm.columns[ixColumn].filter;
                        }
                    }

                    return sq;
                }

                function filter() {
                    vm.loading = true;
                    var sq = vm.getStructuredQuery();
                    var params = {};
                    if (sq) params.sq = sq;

                    $http({
                        url: "https://spreadsheets.google.com/feeds/list/" + googleSheetKey + "/od6/public/full?alt=json",
                        method: "GET",
                        params: params
                    })
                        .then(function (httpResponse) {
                            vm.items = vm.parseRows(httpResponse.data);

                            vm.loading = false;
                        });
                }

                function init() {
                    vm.loading = true;

                    $http({
                        url: "https://spreadsheets.google.com/feeds/list/" + googleSheetKey + "/od6/public/full?alt=json",
                        method: "GET"
                    })
                        .then(function (httpResponse) {
                            vm.loading = false;

                            vm.columns = vm.parseColumns(httpResponse.data);
                            vm.items = vm.parseRows(httpResponse.data);
                        });
                }

                function parseColumns(rawData) {
                    var columns = [];

                    if (rawData.feed.entry && rawData.feed.entry.length) {
                        var row1 = rawData.feed.entry[0];
                        for (var propName in row1) {
                            if (row1.hasOwnProperty(propName) && propName.startsWith("gsx$")) {
                                var col = {
                                    name: propName.substring(4),
                                    entryPropName: propName,
                                    title: propName[4].toUpperCase() + propName.substring(5)
                                };

                                if (col.name === "imageurl") col.hide = true;
                                columns.push(col);
                            }
                        }
                    }

                    return columns;
                }

                function parseRows(rawData) {
                    var rows = [];

                    if (rawData.feed.entry && rawData.feed.entry.length) {
                        for (var ixEntry = 0; ixEntry < rawData.feed.entry.length; ixEntry++) {
                            var row = {};

                            for (var ixColumn = 0; ixColumn < vm.columns.length; ixColumn++) {
                                var col = vm.columns[ixColumn];
                                row[col.name] = rawData.feed.entry[ixEntry][col.entryPropName].$t;
                            }

                            row.imageurl = "images/" + row.code.toLowerCase() + ".jpg";
                            rows.push(row);
                        }
                    }

                    return rows;
                }
            }
        })();
    </script>

    <style>
        body {
            padding-top: 70px;
        }

        .library-item:nth-child(4n+1) {
            clear: both;
        }

        .library-item.col-md-6 {
            transition: all ease-in 0.5s;
        }

        .library-item.col-md-3 {
            transition: all ease-in 0.5s;
        }

        .library-item .thumbnail > img {
            width: 250px;
        }

        .thumbnail.right-caption > img {
            float: left;
            margin-right: 18px;
            margin-bottom: 10px;
        }

        .thumbnail.right-caption {
            float: left;
        }

        .thumbnail.right-caption > .caption {
            padding: 4px;
        }
    </style>
</head>
<body ng-app="app" ng-controller="LibraryController as libCtrl" sf-loading="libCtrl.loading">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">"A Safta's Love" Library - Dedicated to the Memory of Rivka Serwatien (Safta Brynin)</a>
            </div>

            <span class="navbar-btn navbar-right">
                <button type="button" class="btn btn-link" ng-click="libCtrl.summaryView=!libCtrl.summaryView" style="margin-right: 20px">
                    <span class="fa" ng-class="{'fa-plus-square-o':!libCtrl.summaryView,'fa-minus-square-o':libCtrl.summaryView}"></span>
                    <span ng-show="!libCtrl.summaryView">Expand All</span>
                    <span ng-show="libCtrl.summaryView">Collapse All</span>
                </button>
            </span>
        </div>
    </nav>

    <div class="container">
        <form class="form-inline" ng-submit="libCtrl.filter()" name="frmLibFilter">
            <div class="form-group col-md-3" ng-repeat="column in libCtrl.columns" ng-hide="column.hide">
                <label class="col-md-3 control-label">{{ column.title }}</label>
                <div class="col-md-9">
                    <input type="text" ng-model="column.filter" class="form-control" />
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-primary">Filter</button>
                    <button class="btn btn-default" type="button" ng-click="libCtrl.clearFilter() || frmLibFilter.$setPristine()">Clear</button>
                </div>
            </div>
        </form>

        <ul class="list-unstyled row">
            <li ng-repeat="item in libCtrl.items" class="library-item" ng-class="{'col-md-3':!item.showDetails && !libCtrl.summaryView, 'col-md-6':item.showDetails || libCtrl.summaryView }">
                <div class="thumbnail right-caption">
                    <img ng-src="{{ ::item.imageurl }}" />
                    <div class="caption">
                        <h3>
                            <button class="btn btn-default" type="button" ng-click="item.showDetails=!item.showDetails" ng-show="!libCtrl.summaryView">
                                <span class="fa" ng-class="{'fa-info':!item.showDetails,'fa-eye-slash':item.showDetails}"></span>
                            </button>
                            {{ ::item.title }}
                        </h3>

                        <div ng-show="item.showDetails || libCtrl.summaryView">
                            <p>{{ ::item.synopsis }}</p>
                            <ul>
                                <li ng-repeat="column in ::libCtrl.columns" ng-hide="column.hide">
                                    {{ ::column.title }}: {{ ::item[column.name] }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>